@font-face {
  font-family: "Sligoil";
  src: url("./Sligoil-Micro.woff") format("woff"),
    url("./Sligoil-Micro.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-feature-settings: "ss03" on, "ss01" on, "ss04" on;
}
