@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Inter Tight", sans-serif;
  --font-sans: "Inter", sans-serif;

  --leading-tight: 1.2;

  --scale-90: 0.9;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-stone-200, currentcolor);
  }
}

@utility btn {
  @apply px-4 py-2 text-lg border-2 rounded-lg w-fit drop-shadow-xs  ease-in-out duration-100 drop-shadow-none active:drop-shadow-none active:scale-95 flex gap-1 items-center;
}

@utility btn-primary {
  @apply text-white bg-blue-500 border-blue-600 active:bg-blue-600 hover:border-blue-800 hover:drop-shadow-lg;
}

@utility btn-secondary {
  @apply bg-white text-stone-700 hover:text-stone-900 border-stone-200 hover:border-stone-400 hover:drop-shadow-md active:bg-stone-200;
}

@utility btn-flat {
  @apply hover:drop-shadow-none border-none hover:bg-stone-200 active:bg-stone-300 ease-in hover:text-stone-900;
}

@utility btn-navigation {
  @apply rounded-xl hover:bg-stone-200 active:bg-stone-300 ease-in-out hover:text-stone-800 text-stone-600 border-0;
}

@utility btn-navigation-active {
  @apply inset-shadow-sm border border-stone-800/10 bg-stone-300/70;
}

@utility bento-box {
  @apply rounded-3xl border-4 p-4 md:p-12 border-white/20 overflow-hidden;
}

@utility white-h-fade {
  @apply mask-[linear-gradient(to_right,transparent,black_10%,black_90%,transparent)];
}

@layer utilities {
  strong {
    font-weight: 600;
  }

  .animate-ticker {
    animation: ticker 10s linear infinite;
  }

  .animate-ticker-paused {
    animation-play-state: paused;
  }

  @keyframes ticker {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .animate-ticker {
      animation: none;
      transform: translateX(0);
    }
  }
}
